# Compact public API.

S3method(print,CEC_runtime_config)
export(CECclassif)
export(CECaddSmoothedDiagnostics)
export(CECcompactGrid)
export(CECdetectPartitionChanges)
export(CECexplore)
export(CECextractBestPartitions)
export(CECextractPartition)
export(CECfitBoundGrid)
export(CECfitLambdaGrid)
export(CECfitPreset)
export(CECidentifyStableLambdas)
export(CECplotGrid)
export(CECplotPartition)
export(CECplotPath)
export(CECrepairBestPartitionTrajectory)
export(CECselectStableLambdas)
export(CECsummariseGrid)
import(grDevices)
import(graphics)
import(stats)
import(utils)
importFrom(Rcpp,evalCpp)
importFrom(mvtnorm,dmvnorm)
useDynLib(CEClust, .registration = TRUE)
